

[data-component="ConfirmationList"] button {
    padding: 3px;
    background-color: #ed712b;
    color: white;
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 14pt;
    font-family: "Red Rose", sans-serif;
   
  }



  [data-component="ConfirmationList"] .total {
    padding: 3px;
    text-align: right;
    margin-left: 5px;
    margin-right: 100px;
    margin-top: 40px;
    font-size: medium;
  }


  