/* Connexion */
[data-component="Connexion"] {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.logo > a {
  display: inline-block;
  padding-top: 0.2em;
}
.connexion img {
  width: 2em;
  margin-left: 0.3em;
}

.centreV {
  align-items: center;
}

[data-component="Connexion"] .ligne {
  margin-bottom: 10px;
}
[data-component="Connexion"] input {
  margin-left: 5px;
  margin-right: 5px;
}
/* [data-component="Connexion"] {
  background-color: #505050;
} */
[data-component="Connexion"] input {
  border-radius: 6px;
  border: none;
}

[data-component="Connexion"] {
  text-align: center;
  color: #ed712b;
}
[data-component="Connexion"] a {
  margin-bottom: 10px;
  width: 155px;
}
