[data-component="Contact"] {
  min-height: 80vh;
}

[data-component="Contact"] a {
  text-decoration: none;
  color: #dc6a2b;
  width: 2em;
  display: inline-block;
}
[data-component="Contact"] section {
  margin: 0 40px;
  text-align: left;
  background-color: #130602;
  padding: 40px;
  color: white;
  border: 3px solid #dc6a2b;
}
