html body {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  margin-top: 0;
  margin: 0 !important;
  padding: 0 !important;
}
.bg-ruedas {
  background-image: url(../assets/images/penu_f_50.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 50% bottom;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}
.main-k {
  /* background-color: rgb(255, 174, 160); */
  box-sizing: border-box;
  margin: auto;
  max-width: 1440;
  padding: 0 20px 20px 20px;
  width: 100%;
  text-align: center;
}

/***** section header *****/
.header-k {
  background-color: #130602;
  /* position: fixed; */
  width: 100%;
  z-index: 10;
}
.main-k_header {
  display: flex;
  justify-content: space-between;
}
/* div.header {
  margin-top: 5.5rem;
} */
#logo {
  top: 0;
}
.box-shop {
  box-sizing: border-box;
  display: flex;
  height: 60px;
  margin-left: 4px;
  max-width: 60px;
}
.box-shop img {
  width: 100%;
}

.menu ul li:first-child {
  border-left: 1px solid #dc6a2b;
}
.box-panier {
  align-items: center;
  display: flex;
  margin-left: 0.5rem;
  width: 50px;
}
.box-panier a {
  width: 100%;
  height: 50%;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #220d02;
}
.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: 2px solid #fff;
  padding: 6px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
  box-shadow: none;
  border-radius: 4px;
}
.nav-toggler:hover {
  background-color: #dc6a2b;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}
/* intro-area css end */

/***** section filters*****/
.filtres {
  align-items: center;
  flex-direction: column;
}
.FiltrerUnCritere form {
  margin: 1.5rem 0 1rem;
}
.filtres [data-js-annee] {
  max-width: 65px;
}
.filtres button,
button.proceed,
button.retour {
  border: none;
}
.filtres button {
  height: 40px;
}
div.filtres select {
  border-radius: 4px;
  height: 39px;
}
.ligne div.input-wrapper input {
  border-radius: 4px;
  border: none;
  height: 39px;
  padding-left: 6px;
}

/***** section  vendette*****/
section.swiper-container {
  margin: 2rem auto 4rem;
}
div.ec div.ec__nav {
  border-color: rgba(237, 113, 43, 0.9);
  height: 16px;
  width: 16px;
}
.box img {
  background: #fff;
  padding: 0px 6px;
  border-radius: 4px;
}

/***** section  gallery*****/
.gallery {
  justify-items: center;
}
article.voiture_liste__voiture h2,
article.voiture_liste__voiture h3,
article.voiture_liste__voiture span {
  margin-bottom: 7px !important;
}
article.voiture_liste__voiture {
  background-color: rgba(237, 113, 43, 0.9);
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 8px 16px;
  height: auto;
  margin-left: 0;
  max-width: 300px;
  width: 100%;
}
.info_voiture {
  color: #303030;
  padding: 8px 0 0;
}

.label-liste {
  font-size: 1.1rem;
  margin: 0;
}
.info_voiture h2,
.info_voiture h3,
.info_voiture span {
  background-color: #e5e5e5;
  border-radius: 2px;
  display: block;
  font-size: 1.5rem;
  line-height: 20px;
  padding: 4px 6px;
}
.info_voiture h3,
.info_voiture span {
  text-align: left;
  padding-left: 15px;
}
div.voiture_liste__image-wrapper {
  background-color: #fff;
  max-width: 270px;
  margin: auto;
  width: 100%;
}
.voiture_liste__image-wrapper img {
  border-radius: 2px;
  object-fit: contain;
}
.voir-plus {
  margin-bottom: 3rem;
}

.header-area {
  display: none;
}

/* containers */
[data-component="Contact"] {
  text-align: center;
  width: 100%;
}
[data-component="Contact"] img {
  width: 100%;
}
.politiqueVente {
  margin-bottom: 3rem;
}
.Profil .distribue input,
.Profil .distribue select {
  border-radius: 6px;
  border: none;
  padding: 10px;
}
div.menu_profil {
  background-color: #130602;
  top: 83px;
  opacity: 1;
}
[data-component="VoitureDetail"] {
  margin: 0;
  padding-top: 3rem;
}
.imagesVoiture img {
  background-color: #fff;
  border: solid 4px #fff;
  border-radius: 4px;
  height: 158px;
  object-fit: cover;
}
[data-component="VoitureDetail"] .sansPointeur {
  border-radius: 4px;
  height: 30px;
  padding: 0 6px !important;
  max-width: 200px;
  width: 100% !important;
}
.aLaFin {
  justify-content: center;
  gap: 20px;
  margin-top: 3rem;
}
[data-component="VoitureDetail"] [data-js-component="Form"] {
  align-items: baseline;
  justify-content: space-between;
}
.imagesVoiture {
  flex: 2;
}
.infoVoiture {
  max-width: 350px;
  width: 100%;
}

/* footer */
footer {
  background: #130602;
  box-sizing: border-box;
  /* margin-top: 3rem; */
  padding: 3.5rem 40px 2.5rem;
}
.content-footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
  width: 100%;
}
footer .social,
.social li {
  background-color: transparent;
}
.social a {
  width: 50px;
}
.social img {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  width: 100%;
  /* filter: invert(1); */
}
.social img:hover {
  opacity: 1;
}

/* media queries */

@media screen and (max-width: 1700px) {
  form.ligne {
    justify-content: space-between;
  }
  form.ligne h3 {
    margin-bottom: 0.75rem;
    width: 100%;
  }
  .box-btn_filter {
    padding-top: 1rem;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  /* header */
  a.ligne {
    justify-content: flex-end;
  }
  .box-shop {
    max-width: 50px;
    height: 50px;
  }
  .box-shop img {
    margin: 0;
  }
  .menu ul li a {
    font-size: 16px;
  }

  /* filter */
  .FiltrerUnCritere {
    width: 80%;
  }
  .FiltrerUnCritere form {
    justify-content: center;
  }
  .FiltrerUnCritere select {
    max-width: 25%;
  }
  div.filtres .input-wrapper {
    justify-content: flex-end;
    margin: 0 0 16px 10px;
    width: 47%;
  }
  .ligne div.input-wrapper input {
    font-size: 14px;
    padding-left: 6px;
    width: 32%;
  }
  .filtres [data-js-annee] {
    max-width: 100%;
  }
  .filtres form select {
    border-radius: 4px;
    height: 39px;
    font-size: 14px;
    margin-right: 5px;
    width: 65%;
  }

  /* en vedette */
  .box img {
    height: 140px;
    max-width: 170px;
  }
  div.ec .ec__nav--prev {
    left: -20px;
    top: 45%;
  }
  div.ec .ec__nav--next {
    right: -20px;
    top: 45%;
  }

  /* .gallery */
  .gallery--3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .label-liste {
    font-size: 14px;
  }

  .bg-ruedas {
    box-sizing: border-box;
    background-image: url(../assets/images/penu_f.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100%;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
  }

  /* footer */
  .content-footer {
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }
  .content-footer .adresse,
  .content-footer .horaire {
    font-size: 1rem;
    width: 50%;
  }
  .content-footer .reseaux {
    order: 3;
    margin: auto;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .box img {
    height: 120px;
    max-width: 130px;
  }
  /* .main-k {
    padding: 0;
  } */
  div.header {
    display: none;
  }
  header.header {
    height: 90px;
    visibility: hidden;
  }
  /* .centreV {
    display: none;
  } */
  #logo {
    width: 70px;
  }
  /* menu mobile */
  .header-area {
    display: block;
    background: #120902;
    position: fixed;
    z-index: 10;
  }

  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    margin: 0 16px 0 10px;
    height: 65px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 65px;
    flex-direction: column;
    align-items: center;
    background-color: #3c1a08;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
  .li-item {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .li-item a {
    border: none !important;
  }
  .li-item a:hover {
    background-color: transparent !important;
  }

  [data-component="VoitureDetail"] {
    padding-top: 0;
    padding-bottom: 3rem;
  }
  [data-component="VoitureDetail"] [data-js-component="Form"] {
    align-items: center;
    flex-direction: column;
  }
  .imagesVoiture {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .infoVoiture {
    max-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  html body {
    font-size: 16px;
    margin: 0;
    padding: 0 20px;
    width: 100%;
  }

  .centreV-k {
    display: flex;
    justify-content: center;
  }

  .header a {
    height: 65px;
  }

  /* filter */
  div.filtres .input-wrapper {
    width: 100%;
  }
  .FiltrerUnCritere {
    width: 100%;
  }
  .btn-trier {
    height: 37px;
    max-width: 100px;
    width: 100%;
  }
  button.retour {
    height: 39px;
    max-width: 75px;
    width: 100%;
  }
  .filtres button {
    width: 49%;
  }

  /* vedette */
  .box {
    height: 80px;
  }
  .box img {
    height: 100%;
    max-width: 80px;
  }
  div.ec .ec__nav--prev,
  div.ec .ec__nav--next {
    top: 40%;
  }

  /* .gallery */
  .gallery--3 {
    grid-template-columns: 1fr;
    width: 90%;
  }
  article.voiture_liste__voiture {
    margin: 0 auto 0.5rem;
    width: 100%;
  }

  /* footer */
  .content-footer .adresse,
  .content-footer .horaire {
    margin-bottom: 2rem;
    width: 100%;
  }
  .content-footer .reseaux {
    padding-top: 0;
  }
  .adresse div,
  .horaire div {
    text-align: center;
  }

  [data-component="VoitureDetail"] .sansPointeur {
    max-width: 155px;
  }
}
