/*Voiture détail */
[data-component="FormulaireAjoutVoiture"] {
  width: 100%;
  min-height: 80vh;
}
[data-component="FormulaireAjoutVoiture"] button {
  width: fit-content;
}

[data-component="FormulaireAjoutVoiture"] form {
  display: flex;
}

[data-component="FormulaireAjoutVoiture"] .input-wrapper {
  margin-bottom: 0;
}

[data-component="FormulaireAjoutVoiture"] input {
  opacity: 1;
  background-color: white;
  border: 1px black solid;
  color: black;
  padding: 3px;
  margin-bottom: 10px;
  width: 10rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

[data-component="FormulaireAjoutVoiture"] select {
  opacity: 1;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 10rem;
  border: 1px black solid;
  color: black;
  padding: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
