
.formulaireCommande{
  width: 100%;

  display: flex;
  flex-direction: column;

}
#paimentform{
  display: none;
}

.formulaireCommande form{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}
.formulaireCommande form div{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.formulaireCommande form button{
  max-width: 20%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
[data-js-payer]{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.formulaireCommande .input-wrapper{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;


}
.formulaireCommande .input-wrapper input, .formulaireCommande .input-wrapper label{
  margin-left: 20px;
  margin-top: 20px;
}
[data-js-formcredit]{
  width: 70%;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
[data-js-recap]{
  max-width: 70%;
  margin-top: 50px;
  margin-bottom: 70px;
  border-top: 1px solid #dc6a2b;
  border-bottom: 1px solid #dc6a2b;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
[data-js-voiturcommande]{
  display: flex;
  justify-content: space-between;
}
[data-js-voiturcommande] div{
  display: inline-block;

}
[data-js-voiturcommande] > div{
  max-width: 70%;

}
[data-js-taxe]{
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  
}
[data-js-taxe] div{
  width: 40%;
}
.prixTaxe{
  display: flex;
  margin-top: 20px;
  margin-left: auto;
}
.prixTaxe div{
  text-align: right;
}

[data-js-taxe]{
  display: flex;
  flex-direction: column;
  
}

[data-js-totaltvh], [data-js-totaltvp], [data-js-totaltvs], [data-js-totalfacture], [data-js-totalshiping]{
  margin-left: 50px;
}
#btn2 a, [data-js-submit] a{
  width: 100%;
  text-decoration: none;
  color: white;

}
.data-js-paimentform [data-js-param="info"]{
  display: flex;
  flex-direction: row;
}
.formulaireCommande form [data-js-param="info"] div{
  display: inline-block;
}
[data-js-retour]:hover{
  color: red;
  cursor: pointer;
}
@media screen and (max-width: 810px) {
  
  .formulaireCommande form [data-js-param="info"] div{
    display: block;
    margin: initial;
  }

}