#gestionModeles{
  max-width: 80%;
  min-width: 50%;
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 35px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#gestionModeles a{
  text-decoration: none;
  color: white;
}
#gestionModeles input, #gestionModeles button,  #gestionModeles select{
  height: 30px;
}
#gestionModeles button{
  line-height: initial;
  border-radius: initial;
  position: relative;
  top :-8px

}



@media screen and (max-width: 950px) {
  #gestionModeles td{
    display: block;
 
  }
  #gestionModeles select, #gestionModeles input{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #gestionModeles .input-wrapper{
    display: flex;
  }
  #gestionModeles th{
    display: none;
  }
  #gestionModeles button{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  [data-js-ajoutmodel]{

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
