@import "./voitureDetail.css";
@import "./connexion.css";
@import "./systemes.css";
@import "./carousel.css";
@import "./formulaireAjoutUtilisateur.css";
@import "./accueil.css";
body {
  background-color: #303030;
  color: #dc6a2b;
  font-size: 16pt;
  font-family: "Red Rose", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

hr {
  height: 1px;
  border: none;
  background-color: #dc6a2b;
}
#btn-menu {
  display: none;
}
header {
  width: 100%;
}
titre {
  text-align: center;
}
.menu {
  background-color: #292929;
  padding: 5px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  flex-grow: 1;
  text-align: center;
  border-right: 1px solid #dc6a2b;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  color: #dc6a2b;
  display: block;
  text-decoration: none;
  padding: 15px;
}

.menu ul li a:hover {
  /*color:  #ffbc9815;*/
  text-decoration: none;
  background-color: #fbc981;
}

.adresse {
  display: flex;
  text-align: center;
}

.horaire {
  display: flex;
  text-align: right;
}

/*** Fin Ricardo***/

.item-right {
  float: right;
}

.VoitureListe {
  display: flex;
}
/* Ne pas supprimer */
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none;
}
.error {
  color: red;
}
/*  */
.voiture_liste__voiture {
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  margin-left: 10px;
  padding: 5px;
  /* max-width: 20%; */
  width: 300px;
  /* height: 500px; */
}

.voiture_liste__image-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
}
.voiture_liste__image-wrapper {
  width: 100px;
  
}

.voiture_liste__image-wrapper img {
  max-width: 100%;
  height: 130px;
  object-fit: cover;
}

.voiture_liste__image {
  width: 300px;

  /*object-fit: contain;*/
}

.voiture_liste__voiture:hover {
  /*border: burlywood 2px solid;*/
  cursor: pointer;
}
.connexion span {
  color: #dc6a2b;
  font-size: 16pt;
  font-family: "Red Rose", sans-serif;
}
a.ligne {
  align-items: center;
}
.filtres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filtres label,
.filtres select {
  margin-right: 10px;
}
.filtres select {
  height: 25px;
}
.filtres label {
  line-height: 165%;
}
.filtres .input-wrapper {
  display: flex;
}

.filtres h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.filtres button,
button.proceed {
  background-color: #ed712b;
  color: white;
  padding: 5px 5px;
  margin: 2px 2px;
  cursor: pointer;

  border-radius: 3px;
  width: 100px;
  align-self: flex-end;
}
.filtres input[type="number"] {
  width: 80px;
  height: 25px;
  margin-right: 5px;
}
.filtres [data-js-annee] {
  width: 80px;
  height: 25px;
  margin-right: 5px;
}
.filtres .input-wrapper {
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

[data-component="Header"] a {
  text-decoration: none;
  color: #ed712b;
}
article.voiture_liste__voiture h2,
article.voiture_liste__voiture h3 {
  margin: 0;
}
