body {    
  background-color: #303030;
  color: #dc6a2b;
  font-size: 16pt;
  font-family: 'Red Rose', sans-serif;
  
}

hr {
  
  height: 1px;
  border: none;
  background-color:  #dc6a2b;
  
}

titre {
  text-align: center;
}

#menu{
  background-color: #292929; 
  padding: 5px;
}

#menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a{
  color:  #dc6a2b;
  display: block;
  text-decoration: none;
  padding: 10px;
}

#menu ul li a:hover{
  color:  #ffbc9815;
  text-decoration: none;
  /*background-color: #dc6a2b;*/
 /* color: #29292910; */
}

.item-right{
  float: right;
}


.VoitureListe {
  display: flex;
}
/* Ne pas supprimer */
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
/*  */
.voiture_liste__voiture {
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  margin-left: 10px;
  padding: 5px;
  max-width: 20%;
}

.voiture_liste__image-wrapper img {
  max-width: 100%;
}
.voiture_liste__voiture:hover {
  border: burlywood 2px solid;
  cursor: pointer;
}

/*Voiture détail */
.row {
  display: flex;
  flex-wrap: wrap;
}
.colonne {
  display: flex;
  flex-direction: column;
}
.distribue {
  justify-content: space-between;
}
.aLaFin {
  justify-content: flex-end;
}
[data-component="VoitureDetail"] form {
  display: flex;
}

[data-component="VoitureDetail"] a {
  text-decoration: none;

  color: black;
}
.infoVoiture {
  flex: 2;
}
.imagesVoiture {
  flex: 3;
}
[data-component="VoitureDetail"] input[disabled] {
  opacity: 1;
  pointer-events: none;
  background-color: white;
  border: 1px black solid;
  color: black;
  padding: 3px;
  margin-bottom: 10px;
}

[data-component="VoitureDetail"] select[disabled] {
  opacity: 1;
  pointer-events: none;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 170px;
  border: 1px black solid;
  color: black;
  padding: 3px;
  margin-bottom: 10px;
}

.imagesVoiture img {
  width: 200px;
  margin-right: 20px;
}
[data-component="VoitureDetail"],
[data-component="Connexion"] {
  margin-right: 40px;
  margin-left: 40px;
}

/* Connexion */
.logo > a {
  display: inline-block;
  padding-top: 0.2em;
}
.connexion img {
  width: 2em;
  margin-left: 0.3em;
}

.centreV {
  align-items: center;
}
