@import "./voitureDetail.css";
@import "./connexion.css";
@import "./systemes.css";
@import "./carousel.css";
@import "./formulaireAjoutUtilisateur.css";
@import "./accueil.css";
body {
  background-color: #303030;
  color: #dc6a2b;
  font-size: 16pt;
  font-family: "Red Rose", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

hr {
  height: 1px;
  border: none;
  background-color: #dc6a2b;
}

titre {
  text-align: center;
}

#menu {
  background-color: #292929;
  padding: 5px;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  color: #dc6a2b;
  display: block;
  text-decoration: none;
  padding: 10px;
}

#menu ul li a:hover {
  color: #ffbc9815;
  text-decoration: none;
  /*background-color: #dc6a2b;*/
  /* color: #29292910; */
}

.item-right {
  float: right;
}

.VoitureListe {
  display: flex;
}
/* Ne pas supprimer */
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none;
}
/*  */
.voiture_liste__voiture {
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  margin-left: 10px;
  padding: 5px;
  /* max-width: 20%; */
}

.voiture_liste__image-wrapper img {
  max-width: 100%;
}
.voiture_liste__voiture:hover {
  border: burlywood 2px solid;
  cursor: pointer;
}
.connexion span {
  color: #dc6a2b;
  font-size: 16pt;
  font-family: "Red Rose", sans-serif;
}
a.ligne {
  align-items: center;
}
.filtres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filtres label,
.filtres select {
  margin-right: 10px;
}
.filtres .input-wrapper {
  display: flex;
}

.filtres h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.filtres button {
  background-color: #ed712b;
  color: white;
  padding: 5px 5px;
  margin: 2px 2px;
  cursor: pointer;

  border-radius: 5px;
  width: 100px;
  align-self: flex-end;
}
.filtres input[type="number"] {
  width: 80px;
  margin-right: 5px;
}
.filtres [data-js-annee] {
  width: 80px;
  margin-right: 5px;
}
.filtres .input-wrapper {
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}
